# Залежності
node_modules/

# Зібраний проєкт (білд)
dist/
dist-ssr/

# Системні файли macOS та Windows
.DS_Store
__MACOSX/
Thumbs.db

# Логи
logs
*.log
npm-debug.log*

# Змінні оточення
.env
.env.local